* {
    box-sizing: border-box;
}


.top {
    display: flex;
    flex-flow:column;
}
ul{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    list-style: none;
}
li{
    padding: 80px;
}
.top ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    display: flex;
    justify-content: center;
}
.slider{
    display: flex;
    background-image: url(favorite/IMG_20160926_190201.jpg);
    width: 100%;
    height: 400px;
    justify-content: center;
}




.pic1 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.end {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
