/* fonts */
@import url('https://fonts.googleapis.com/css?family=Handlee|Patrick+Hand|Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Gloria+Hallelujah|Indie+Flower|Lobster|Mogra|Righteous');

/* boxing size main */
* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display:block;
}


/* Header */
h1{
    font-family: 'Patrick Hand SC', cursive;
}

h2,
h3,
h4 {
    font-family: 'Handlee', cursive;
    margin: 0;
}

h5,
h6,
p,
li {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    margin: 0;
}

header {
    background-color: #283018;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
    background-color: #aa863a;
    margin: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    color: #C0B3A0;
    margin: 0;
}

li a:hover {
    background-color: #f0eceb;
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0;
}


/* MAIN */
main {
    background-color: #729f98;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}



/* TEMPLE */
.temple {
    display: flex;
    border: 5px solid black;
    background-color: #f0eceb;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    border-radius: 12px;
}

/* Dropdown Button */
.droptm {
    background-color: #f0eceb;
    color: #000000;
    padding: 16px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.temple {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-temple {
    display: none;
    position: absolute;
    background-color: #283018;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #C0B3A0;
    max-height: 10em;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-temple a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #C0B3A0;
}

.dropdown-temple ul {
    list-style-type: none;
}

/* Change color of dropdown links on hover */
.dropdown-temple a:hover {
    background-color: #f0eceb;
    color: #000000;
}

/* Show the dropdown menu on hover */
.temple:hover .dropdown-temple {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.temple:hover .droptm {
    background-color: #aa863a;
    color: #C0B3A0;
}




/* STATE */
.state {
    display: flex;
    border: 5px solid black;
    background-color: #f0eceb;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
}

/* Dropdown Button */
.dropst {
    background-color: #f0eceb;
    color: #000000;
    padding: 16px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.state {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-state {
    display: none;
    position: absolute;
    background-color: #283018;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #C0B3A0;
    max-height: 10em;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-state a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #C0B3A0;
}

.dropdown-state ul {
    list-style-type: none;
}

/* Change color of dropdown links on hover */
.dropdown-state a:hover {
    background-color: #f0eceb;
    color: #000000;
}

/* Show the dropdown menu on hover */
.state:hover .dropdown-state {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.state:hover .dropst {
    background-color: #aa863a;
    color: #C0B3A0;
}




/* AMUSEMENT */
.amusement {
    display: flex;
    border: 5px solid black;
    background-color: #f0eceb;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
}

/* Dropdown Button */
.dropam {
    background-color: #f0eceb;
    color: #000000;
    padding: 16px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.amusement {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-amusement {
    display: none;
    position: absolute;
    background-color: #283018;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #C0B3A0;
    max-height: 10em;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-amusement a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #C0B3A0;
}

.dropdown-amusement ul {
    list-style-type: none;
}

/* Change color of dropdown links on hover */
.dropdown-amusement a:hover {
    background-color: #f0eceb;
    color: #000000;
}

/* Show the dropdown menu on hover */
.amusement:hover .dropdown-amusement {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.amusement:hover .dropam {
    background-color: #aa863a;
    color: #C0B3A0;
}



/* NATIONAL */
.national {
    display: flex;
    border: 5px solid black;
    background-color: #f0eceb;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
}

/* Dropdown Button */
.dropna {
    background-color: #f0eceb;
    color: #000000;
    padding: 16px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.national {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-national {
    display: none;
    position: absolute;
    background-color: #283018;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #C0B3A0;
    max-height: 10em;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-national a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #C0B3A0;
}

.dropdown-national ul {
    list-style-type: none;
}

/* Change color of dropdown links on hover */
.dropdown-national a:hover {
    background-color: #f0eceb;
    color: #000000;
}

/* Show the dropdown menu on hover */
.national:hover .dropdown-national {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.national:hover .dropna {
    background-color: #aa863a;
    color: #C0B3A0;
}



/* INTERNATIONAL */
.international {
    display: flex;
    border: 5px solid black;
    background-color: #f0eceb;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
}

/* Dropdown Button */
.dropin {
    background-color: #f0eceb;
    color: #000000;
    padding: 16px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.international {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-international {
    display: none;
    position: absolute;
    background-color: #283018;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #C0B3A0;
    max-height: 10em;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-international a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #C0B3A0;
}

.dropdown-international ul {
    list-style-type: none;
}

/* Change color of dropdown links on hover */
.dropdown-international a:hover {
    background-color: #f0eceb;
    color: #000000;
}

/* Show the dropdown menu on hover */
.international:hover .dropdown-international {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.international:hover .dropin {
    background-color: #aa863a;
    color: #C0B3A0;
}

/* MEDIA */
@media (min-width: 550px) {

}




/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}






container{
    width:960px;
    margin: 0 auto;
}

.pic-container {
    white-space:nowrap;
    overflow:scroll;
}











