/* I don't understand how the code is working and connecting to the HTML file. I really tried, but I didn't understand w3school and what the css was doing. */
* {
    box-sizing: border-box;
}
/* I can't get the two to seprate */
.title h1 + h2 {
    text-align: right;
    margin-top: -.7em;
}
/* I can't get the list to spread out or to stop looking really bad */
nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Got it to work, but I don't understand */
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
/* I can't get the display for hourly to go away */
.hourly {
    display: none;
}
figcaption,
footer{
    margin-bottom: 60px;
}
figure {
    display: block;
}
.temp {
    display: flex;
    justify-content: center;
}
.little_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    margin: 0;
    padding: 0;
    background-color: salmon;
}

header {

}

.cur_conditions {
    display: flex;
    flex-flow: row;
}

.cSur_conditions h4{
    display: none;

}
